.icon *:not([fill="none"]) {
    fill: white !important;
}

.icon *[stroke]:not([stroke="none"]) {
    stroke: white !important;
}

.project {
    transition: margin-left 0.5s ease;
}

.tool *:not([fill="none"]) {
    fill: white !important;
}

.tool *[stroke]:not([stroke="none"]) {
    stroke: white !important;
}

.tool:hover *:not([fill="none"]) {
    fill: rgba(0,255,255,0.75) !important;
}

.tool:hover *[stroke]:not([stroke="none"]) {
    stroke: rgba(0,255,255,0.75) !important;
}